/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.bc-blue {
    background-color: #0084FD;
}

.bc-lg-blue {
    background-color: #B5DDFF;
}

.bc-violet {
    background-color: #9792E4;
}

.bc-white {
    background-color: white;
}

.bc-black {
    background-color: #333333;
}

.color-white {
    color: white;
}

.color-blue {
    color: #0084FD;
}

.color-violet {
    color: #9792E4;
}

.j-center {
    display: flex;
    justify-content: center;
}

.j-between {
    display: flex;
    justify-content: space-between;
}

.j-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-radius {
    border-radius: 35px;
}

.container {
    width: 85%;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase-bold {
    text-transform: uppercase;
    font-weight: bold;
}

/*Header Section*/

.head-logo img {
    padding: 1rem 0;
}

.head-menu i{
    padding: 2rem 0;
    scale: 1.5;
}

/*
.bars-none {
    display: none;
}
*/

.list-none,
.head-btn-none {
    display: none;
}

/*--Main Section--*/
/*--Infos Cards--*/

.infos-cards {
    margin: 1rem 0;
}

.infos-cards-section {
    margin: 0 auto;
}

.demo-card,
.clean-code-card,
.web-design-card,
.developement-card,
.brending-card {
    margin: 1rem 0;
}
/*Demo-card*/
.demo-card h1 {
    margin: 1rem 0;
    font-weight: 900;
}

.demo-card p {
    padding: .5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
}

.demo-card button {
    padding: 1rem 4rem;
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .3rem;
    border-radius: 50px;
}

.demo-card img {
    width: 70%;
}

/*Clean-code-card*/

.i-size{
    font-size: 80px;
    padding: 1rem 0;
}

.clean-code-card h1{
    padding: 1rem 0;
    font-weight: 900;
}

.clean-code-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
    margin-bottom: 1.5rem;
}

/*Web-design-card*/

.web-design-card h1{
    padding: 1rem 0;
    font-weight: 900;
}

.web-design-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
    margin-bottom: 1.5rem;
}

/*Developement-card*/

.developement-card h1{
    padding: 1rem 0;
    font-weight: 700;
}

.developement-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 400;
    color: #5A6D7E;
    margin-bottom: 1.5rem;
}

/*Brendring-card*/

.brending-card h1{
    padding: 1rem 0;
    font-weight: 700;
}

.brending-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 400;
    color: #5A6D7E;
    margin-bottom: 1.5rem;
}

/*----Startegic plann. Section----*/

.flex-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning-card {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.planning-card h1 {
    margin: 1rem 0;
    font-size: 30px;
}

.planning-card p {
    line-height: 1.5rem;
}

.planning-card img {
    width: 85%;
    align-self: center;
}

.app-dev-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.app-dev-card img {
    width: 80%;
    padding: 2rem 0;
}

.app-dev-card h2 {
    padding-bottom: 1rem;
    font-size: 30px;
}

.app-dev-card p {
    line-height: 1.5rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-style: italic;
    text-align: center;
}

.circle {
    padding: 1rem 1.3rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/*-----Testimonial Section----*/

.testimonial-section {
    margin-bottom: 2.5rem;
}

.testimonial-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-cards span {
    padding-top: 2.5rem;
}

.testimonial-cards h1 {
    padding-top: 1.5rem;
}

.testimonial-cards > p {
    padding: 1.5rem;
    line-height: 1.7rem;
    font-style: italic;
    text-align: center;
}

.testimonial-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0
}

.banner-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1.5rem;
}

.profile-photo-one{
    background-image: url(./img/testimonial1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-photo-two{
    background-image: url(./img/testimonial2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-photo-three{
    background-image: url(./img/testimonial3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-text {
    text-align: center;
    font-style: italic;
    line-height: 2rem;
    padding: 1rem;
}

.testimonial-name {
    padding-bottom: 1.5rem;
    font-size: 20px;
}

/*------Section Benefit Work------*/

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-benefit-card {
    margin-bottom: 2rem;
}

.benefit-card {
    margin: 1.5rem 0;
}

.benefit-section > h1 {
    margin: 3rem 3rem 2rem 3rem;
    font-size: 2.5rem;
    text-align: center;
}

.benefit-card h1 {
    font-size: 3.5rem;
    padding: 1.5rem 2rem;
}

.benefit-card h2 {
    padding: 0 2rem;
}

.benefit-card p {
    padding: 1rem 2rem;
    line-height: 1.7rem;
    color: #8D8D8D;
}

.benefit-card button {
    margin: 0.5rem 0 1.5rem 2rem;
    padding: 0.6rem 3rem;
    border-radius: 30px;
    letter-spacing: .3rem;
}

/*------About Us------*/

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-text h1 {
    font-size: 3rem;
    margin: 3.5rem 0 2rem;
}

.ab-text p {
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: justify;
}

.ab-speech-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1.5rem;
}

.profile-photo-speech {
    background-image: url(./img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ab-speech p {
    font-size: 2.5rem;
    font-weight: bold;
}

.fa-quote-left {
    scale: 4;
    padding-left: 3.5rem;
}

.find-me {
    margin: 1rem 0 3rem;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    color: white;
}

.fa-linkedin {
    padding-right: 0.5rem;
}

/*Footer*/
/*------Get Started Section------*/

.started-p {
    margin: 3rem 0 1rem;
    color: #CFCEF2;
}

.spot {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
}

.free {
    font-size: 5rem;
    color: #FDC05F;
    font-weight: bold;
    margin-bottom: 1rem;
}

.started-text {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.started-btn {
    width: 80%;
    border-radius: 30px;
    padding: .8rem;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin-bottom: 1.5rem;
}

.copyright {
    margin-bottom: 3rem;
}

.fa-circle {
    scale: .4;
}

.footer p {
    text-align: center;
}

.footer p:first-child {
    padding: 2rem 0 3rem;
}

.footer > a {
    padding-left: 9rem;
}

.footer {
    padding-bottom: 3rem;
}

/*------Media Query------*/

@media screen and (max-width: 768px) {
    .infos-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .demo-card {
        margin: 1rem .5rem;
        width: calc(((100% / 3) * 2) - 1rem);
    }
    .clean-code-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    } 
    .web-design-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    }
    .developement-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    }
    .brending-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    }

    .testimonial-banner {
        display: flex;
        flex-direction: row;
    }
    .banner-text {
        width: 70%;
    }
    /*------------*/
    .centered {
        text-align: center;
    }
    .benefit-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container-benefit-card {
        display: flex;
        flex-wrap: wrap;
    }
    .divided {
        margin: 1rem .5rem;
        width: calc((100% / 2) - 1rem);
    }
    /*---------*/
    .flexed {
        display: flex;
    }
    .ab-speech {
        margin: 3rem 2rem;
    }
    .ab-speech p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1160px) {
    .container {
        width: 60%;
    }

    .bars-none {
        display: none;
    }

    .list-none {
        display: flex;
    }

    .head-btn-none {
        display: flex;
    }
    .head-btn {
        border-radius: 30px;
    }

    ul {
        display: flex;
        list-style: none;
    }

    .infos-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .demo-card {
        margin: 1rem .5rem;
        width: calc(((100% / 3) * 2) - 1rem);
    }
    .clean-code-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    } 
    .web-design-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    }
    .developement-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    }
    .brending-card {
        margin: 1rem .5rem;
        width: calc((100% / 3) - 1rem);
    }

    .testimonial-banner {
        display: flex;
        flex-direction: row;
    }
    .banner-text {
        width: 70%;
    }
    /*------------*/

    .flex-card {
        display: flex;
        flex-direction: row;
    }

    /*-------------*/
    .centered {
        text-align: center;
    }
    .benefit-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container-benefit-card {
        display: flex;
        flex-wrap: wrap;
    }
    .divided {
        margin: 1rem .5rem;
        width: calc((100% / 2) - 1rem);
    }
    /*---------*/
    .flexed {
        display: flex;
    }
    .ab-speech {
        margin: 3rem 2rem;
    }
    .ab-speech p {
        font-size: 1.5rem;
    }
}