/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 480px;
    font-family: 'Lato', sans-serif;
}

.bc-blue {
    background-color: #0084FD;
}

.bc-lg-blue {
    background-color: #B5DDFF;
}

.color-white {
    color: white;
}

.color-blue {
    color: #0084FD;
}

.j-center {
    display: flex;
    justify-content: center;
}

.j-between {
    display: flex;
    justify-content: space-between;
}

.j-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-radius {
    border-radius: 35px;
}

.container {
    width: 85%;
}

/*Header Section*/

.head-logo img {
    padding: 1rem 0;
}

.head-menu i{
    padding: 2rem 0;
    scale: 1.5;
}

/*
.bars-none {
    display: none;
}
*/

.list-none,
.head-btn-none {
    display: none;
}

/*--Main Section--*/
/*--Infos Cards--*/

.infos-cards {
    margin: 1rem 0;
}

.j-center-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.demo-card,
.clean-code-card,
.web-design-card,
.developement-card,
.brending-card {
    margin: 1rem 0;
}
/*Demo-card*/
.demo-card h1 {
    margin: 1rem 0;
    font-weight: 900;
}

.demo-card p {
    padding: .5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
}

.demo-card button {
    padding: 1rem 4rem;
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .3rem;
    border-radius: 50px;
}

.demo-card img {
    width: 70%;
}

/*Clean-code-card*/

.i-size{
    font-size: 80px;
    padding: 1rem 0;
}

.clean-code-card h1{
    padding: 1rem 0;
    font-weight: 900;
}

.clean-code-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
}

/*Web-design-card*/

.web-design-card h1{
    padding: 1rem 0;
    font-weight: 900;
}

.web-design-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
}

/*Developement-card*/

.developement-card h1{
    padding: 1rem 0;
    font-weight: 900;
}

.developement-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
}

/*Brendring-card*/

.brending-card h1{
    padding: 1rem 0;
    font-weight: 900;
}

.brending-card p {
    padding: 1.5rem 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: #5A6D7E;
}
